.navbar {
  background-color: #2372D0;
  opacity: 0.9;
 }

{
font-family: 'Lato', sans-serif;
}

.content-section {
  background-color: #ffffff;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
  margin-left: 20px;

}


html, body {
    width: 100%;
    height: 100%;
}


header, footer {
    flex-shrink: 0;
}

#show-mentors{
    max-width: 800px;
    margin: 0px auto;
}
.single-mentor{
    padding: 20px;
    margin: 20px 0;
    box-sizing: border-box;
    background: #eee;
}

.highlight {
  font-weight: bold;
}

.article-img {
  height: 65px;
  width: 65px;
  margin-right: 16px;
}

.article-title {
  color: #444444;
}

a.article-title:hover {
  color: #428bca;
  text-decoration: none;
}

.article-content {
  white-space: pre-line;
}
.article-metadata {
  padding-bottom: 1px;
  margin-bottom: 4px;
  border-bottom: 1px solid #e3e3e3
}

.article-metadata a:hover {
  color: #428bca;
  text-decoration: none;
}

.article-svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

.pagination-page-info {
    padding: .6em;
    padding-left: 0;
    width: 40em;
    margin: .5em;
    margin-left: 0;
    font-size: 12px;
}
.pagination-page-info b {
    color: black;
    background: #6aa6ed;
    padding-left: 2px;
    padding: .1em .25em;
    font-size: 150%;
}