<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Merriweather" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/style3.css') }}">
    <!-- Custom styles for this template -->
    <!--<link rel="stylesheet" type=text/css href="{{ url_for ('static', filename='grayscal200e.css')}}">-->
</head>

{% block style %}
<style>
    .bg {
        background-image: url('static/img/women_mentors.jpg');
        background-size: 100%;
        background-repeat:no-repeat;
        background-attachment: scroll;
    }
    .nobg {
        background-image: none;

    }
    *{
    font-family: 'Lato', sans-serif;
    }

</style>
{% endblock style %}

<body class="">
    {% block navigation %}

<div class="bg pb-5 mb-5">
<!--FFBCA4 background-image:{{ url_for('static', filename='img/booksandbulbs.jpg') }};-->
<!--style="background-color: #FFE197; #E5BA3E"-->

<!--Navigation Bar-->
    <header class="site-header">
    <nav class="navbar navbar-expand-sm navbar-expand-md navbar-dark bg-dark " style="margin-bottom:-18px;">
      <div class="container">
          <img src="./static/img/logo.png" alt="Logo" style="width:40px;">
          <a class="navbar-text mb-0 h2" style="color:white;text-decoration:none;" href="/">
              Women Mentors
          </a>

          <!-- Toggler/collapsibe Button -->
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <!-- Navbar links -->
          <div class="collapse navbar-collapse justify-content-end" id="navbarToggle">
              <div class="navbar-nav nav-pills">
                  <a class="nav-item nav-link"  style="color:white;" href="/">Home</a>
                  <!--<a class="nav-text nav-link h5"  style="color:#FFCA90;" href="/">Compare</a>-->
                  <a class="nav-item nav-link" style="color:white;" href="/surprise-me">Log In</a>
                  <a class="nav-item nav-link" style="color:white;" href="/wizard">Sign Up</a>
                  <!--<a class="nav-text nav-link h5"  style="color:#FFCA90;" href="/">Indian Authors</a>-->
                  <a class="nav-item nav-link"  style="color:white;" href="/about">About</a>
              </div>
          </div>
      </div>
    </nav>


{% endblock navigation %}
<!--m refers to margin p refers to padding, mb mt mr ml refer to top left bottom etc
https://getbootstrap.com/docs/4.0/utilities/spacing/
https://getbootstrap.com/docs/4.0/utilities/display/ -->
<!-- .d-none .d-md-block-->

{% block margin %}
    <!--Margin between nav bar and search box-->
<div class="row mt-5"></div>
<div class="row mt-5"></div>
<div class="row mt-5"></div>
<div class="row mt-5"></div>
<div class="row mt-5"></div>
<div class="row mt-5"></div>


{% endblock margin %}

{% block searchbox %}
<!--Search Box-->
<div class="container mt-5">
    <!--Good code link for some of this https://www.codeply.com/go/ioPsDfyCBc-->
    <!--And another https://github.com/FortAwesome/Font-Awesome/issues/4313-->
    <form class="form-horizontal" method="GET" action='/result'>
    <div class="form-group">
        <div class="input-group">
            <input class="form-control py-3 border-right-0 border h3" name="query" placeholder="Find Mentor by Searching for Skills, Location or Name" >
            <span class="input-group-append">
                <button class="btn border-left-0 border" type="submit">
                    <i class="fa fa-search fa-lg"></i>
                </button>
              </span>
        </div>

    </div>
    </form>

</div>
    {% endblock searchbox %}

    {% block restofhomepage %}

    <!--Margin between search box and list of landing pages-->
    <div class="row pb-5"></div>
    <div class="row pb-5"></div>
    <div class="row pb-5"></div>
    <div class="row pb-5"></div>
    <div class="row pb-5"></div>
    <div class="row pb-5"></div>



</div>

<div class="container nobg">
    <h3 class="pb-4"><b>We found the following mentors:</b></h3>
    <a href="/isbn?isbn=0143125087">
    <img src="https://pbs.twimg.com/profile_images/684344075332546560/LRXHXM08.jpg"  height="280" width="200"/> </a>
    <br>
    <br>
    <br>
    <div class="border border-dark mb-5"></div>
    <a class="" href="/isbn?isbn=1491962291">
    <img src="https://pbs.twimg.com/profile_images/684344075332546560/LRXHXM08.jpg"  height="280" width="200"/> </a>
    <br>
    <br>
    <br>
    <div class="border border-dark mb-5"></div>
    <a class="" href="/isbn?isbn=1616895322">
    <img src="https://pbs.twimg.com/profile_images/684344075332546560/LRXHXM08.jpg"  height="280" width="200"/> </a>

    <!--<h4>My Picks in Machine Learning/ Deep Learning:</h4>-->
    <!--<h4>Top textbooks by Indian Authors:</h4>-->

</div>

<br />
<br />
    <!-- Component: Footer -->
<!--<footer class='page-footer footer-classic context-dark black'>-->
<footer class="page-footer pt-4 bg-dark">
    <div class='container-fluid ml-5 text-center text-md-left'>
          <div class='row'>
            <div class='col-sm-4 col-md-4 col-xs-6'>
              <h4 style="color:white;">Who We Are</h4>
              <p style="color:white;">Women Mentors has a mission to help women find women mentors in STEM and Programming. </p>
            </div>

            <div class='col-sm-4 col-md-3 ml-2 col-xs-6 '>
             <h4 style="color:white;"> Quick Links</h4>
             <ul class='list-unstyled'>  <!-- unstyled removes the bullets from list -->
               <!-- another list class: list-inline -> shows elements horizontally rather than vertically -->
               <li><a href='#'>Home</a></li>
               <li><a href='#'>Find Mentors</a></li>
               <li><a href='#'>Recommend Mentors</a></li>
             </ul>
           </div>


          <div class='clearfix visible-xs'></div>

          <div class='col-sm-4 ml-5 col-md-3 col-xs-6'>
            <h4 style="color:white;">Contact Us</h4>
            <ul class='list-unstyled'>
                <li><a href='#'>Email</a></li>
                <li><a href='#'>Tweet</a></li>
                <li><a href='#'>Facebook</a></li>
            </ul>

          </div>
        </div>
    </div>
    <!-- Copyright -->
  <div style="color:white;" class="footer-copyright text-center py-3">© 2019 Copyright: womenmentors.co
  </div>
  <!-- Copyright -->
</footer>

{% endblock restofhomepage %}
{% block content %}
{% endblock %}


<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
<!-- Some pages linked to-->
</html>

