{% extends "layout.html" %}
{% block content %}
    <h3>About Us</h3>
    <p style="text-align: justify;">
        Womenmentors.co is a free E-mentoring tool that creates an unstructured/informal network of mentor and mentee particularly aimed at helping women in STEM and Programming fields to find mentors.
        The mentors recommended by this app belong to different communities and come from different department/organizations and are therefore able to provide valuable advice about the other organization hierarchies, career and develop a sense of belonging among women in STEM.
        They are able to serve the actual purpose of mentoring i.e. is to creating a sense of independent identity, competence, and effectiveness in protégés.
    </p>
    <p style="text-align: justify;">
        Our mentors offer acceptance, counseling, friendship and role modeling and help fill the gap in STEM pathways in protégés’ career.
        This tool is also expected to address the shortage of female mentors. It can further be extended to not only have an impact on women but also on underrepresented minorities, organizational productivity and increased revenue.
    </p>
    <p style="text-align: justify;">
        The most striking feature of this app is the immediate availability of mentors who are technically qualified, possess a wide range of experience, doing well professionally and most importantly have the willingness, dedication to continuous learning and passion towards helping women grow.
        Thus this tool will provide mentoring to women who need assistance with finding a way to success and help them decide on initial or postgraduate studies, improving qualifications or professional growth.

    </p>
{% endblock content %}