<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Recommend Mentor using required Skills</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <link href='http://fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet' type='text/css'>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style2.css') }}">

    <script> var data = {{data}} </script>
</head>

<body class="container-fluid">
    <h2 class="mt-5" style="font-family:Lato;font-weight:bold;"> Enter skills to look for mentor: </h2>
    <form class="form-horizontal" method="GET" action='/result'>
      <div class="form-group row">
        <div class="col-sm-5">
            <div class="input-group">
          <input type="text" class="form-control" name="query" placeholder="Python, Javascript etc">
                </div>
        </div>
          <button type="submit" class="btn btn-primary">Recommend</button>
        </div>
    </form>

<!--    {% block content %}-->
<!--    {% endblock %}-->

<!--    {% block example_url %}-->
<!--    Or You can try: <a href="/result?url=https%3A%2F%2Foctopart.com%2F_debug%2FPartSearch.json%3Fq%3Dcapacitor">https://octopart.com/_debug/PartSearch.json?q=capacitor</a>-->
<!--    {% endblock  %}-->


<!--    <form method='post'>-->
<!--        (Parent) Data received from flask: {{ data }} <br>-->
<!--    </form>-->

</body>
<!--{% block script %}-->
<!--{% endblock %}-->
</html>