{% extends "layout.html" %}

{% block script %}
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue-resource/1.5.1/vue-resource.min.js"></script>
    <script src="https://unpkg.com/vuex"></script>
    <script src="https://unpkg.com/vue-router"></script>
    <script src="{{ url_for('static', filename='js/script4.js') }}">
    </script>
    <script>
    window.onload = function() {
    console.log(document.getElementById('pref').value);
          if (document.getElementById('pref').value !== "In Person"){
             document.getElementById('locationDiv').style.display = 'none';
          }
    };

    function FetchLocation(val){
        var element=document.getElementById('locationDiv');
        // console.log(element);
        if(val=='In Person')
         // console.log(val)
            element.style.display='block';
        else
            element.style.display='none';
    };
    </script>
{% endblock script %}


{% block content %}
    <div class="content-section" id="vue-app">
      <div class="media">
        <div class="media-body">
<!--          <h2 class="account-heading">{{ current_user.username }}</h2>-->
<!--          <p class="text-secondary">{{ current_user.email }}</p>-->
        </div>
      </div>
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            <div class="col-sm-8 offset-sm-2">
            <fieldset class="form-group">
                <legend class="border-bottom mb-4 text-center" >Update Account Settings</legend>
                <div class="form-group row">
                    <label class="control-label col-sm-5"> {{ form.username.label(class="form-control-label") }} </label>
                    <div class="col-sm-7">
                    {% if form.username.errors %}
                        {{ form.username(class="form-control is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.username.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.username(class="form-control") }}
                    {% endif %}
                    </div>
                </div>
                <div class="form-group row">
                    <label class="control-label col-sm-5"> {{ form.mentorskills.label(class="form-control-label") }} </label>
                    <div class="col-sm-7">
                    {% if form.mentorskills.errors %}
                        {{ form.mentorskills(class="form-control is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.mentorskills.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.mentorskills(class="form-control") }}
                    {% endif %}
                    </div>
                </div>
                <div class="form-group row">
                    <label class="control-label col-sm-5">{{ form.preference.label(class="form-control-label") }} </label>
                    <div class="col-sm-7">
                    {% if form.preference.errors %}
                        {{ form.preference(class="form-control is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.preference.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.preference(class="form-control", id='pref', **{"onchange":"FetchLocation(this.value);"}) }}
                    {% endif %}
                    </div>
                </div>
                <div id="locationDiv">
                <div class="form-group row">
                    <label class="control-label col-sm-5">{{ form.location.label(class="form-control-label") }} </label>
                    <div class="col-sm-7">
                    {% if form.location.errors %}
                        {{ form.location(class="form-control is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.location.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.location(class="form-control") }}
                    {% endif %}
                    </div>
                </div>
                </div>
            </fieldset>
            <div class="form-group text-center">
                {{ form.submit(class="btn btn-outline-info") }}
            </div>
            </div>
        </form>
    </div>
{% endblock content %}